.mdl-layout__drawer > .mdl-layout__title,
.mdl-layout__drawer > .mdl-layout-title {
  line-height: 1.5em;
  margin-top: 30px;
  padding-right: 20px; }

.mdl-layout__header .mdl-layout__drawer-button {
  display: flex;
  align-items: center;
  justify-content: center; }

.mdl-layout__header .mdl-layout-title a {
  color: #fff;
  font-weight: normal;
  text-decoration: none; }

.mdl-layout__content .sidebar > .mdl-card {
  margin-bottom: 20px; }

.blog-max-width {
  max-width: 1024px;
  margin: auto; }

.post-card {
  width: 100%;
  margin-bottom: 20px; }
  .post-card.post-card--no-image > .mdl-card__title {
    height: 60px; }
  .post-card > .mdl-card__title {
    color: #fff;
    height: 250px; }
  .post-card > .mdl-card__menu {
    color: #fff; }
  .post-card .mdl-card__title {
    padding: 0; }
    .post-card .mdl-card__title .mdl-card__title-text {
      width: 100%;
      padding: 20px;
      background-color: rgba(1, 1, 1, 0.5);
      text-transform: capitalize; }
      .post-card .mdl-card__title .mdl-card__title-text a {
        color: #fff;
        text-decoration: none;
        font-weight: normal; }
  .post-card .post-card__meta {
    margin-bottom: 10px; }
    .post-card .post-card__meta p {
      margin: 0; }
    .post-card .post-card__meta a {
      color: rgba(0, 0, 0, 0.54); }

.subscribe-box .mdl-card__supporting-text {
  padding-top: 0; }

.mdl-mega-footer .mdl-mega-footer__middle-section {
  max-width: 970px;
  margin: 0 auto; }
  .mdl-mega-footer .mdl-mega-footer__middle-section .social-media-icon {
    padding-right: 10px; }

.mdl-mega-footer .mdl-mega-footer__bottom-section {
  max-width: 970px;
  margin: 0 auto; }

.sidebar .mdl-card {
  margin-bottom: 20px; }

.recent-posts .mdl-card__supporting-text {
  padding-top: 0; }

.recent-posts .recent-posts__post {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0; }
  .recent-posts .recent-posts__post:last-child {
    border-bottom: none; }
  .recent-posts .recent-posts__post .recent-posts__image-container {
    margin-left: 0; }
    .recent-posts .recent-posts__post .recent-posts__image-container .image {
      width: 100%; }
  .recent-posts .recent-posts__post .recent-posts__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 10px;
    flex-grow: 1; }
    .recent-posts .recent-posts__post .recent-posts__text-container .title {
      margin: 0;
      font-size: 15px;
      line-height: 1em;
      font-weight: normal; }
    .recent-posts .recent-posts__post .recent-posts__text-container .time {
      font-size: 10px;
      line-height: 1em;
      margin: 5px 0 0 0; }

.index-page .table-card {
  width: 100%; }
  .index-page .table-card .table-card__table {
    width: 100%; }
  .index-page .table-card .table-card__page-link {
    width: 200px; }
